body{
    background-image: url(img/bg1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 5dvi;
    text-shadow: 5px 5px 8px lightblue;
    padding: 40px 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10%;
    border-radius: 5px;
    background-image: url(img/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0;
    border: 0;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 15%;
    text-align: center;
    padding: 10vw 10vw;
    border-radius: 15px;
    box-shadow: 10px 10px 8px gray;
    background-color: aliceblue;
    animation-name: myAnimation;
    animation-timeline: view();
    animation-duration: 2s;
    animation-delay: 0s;
}

.h button{
    background: none;
    border: none;
    position: fixed;
    z-index: 3;
    bottom: 30px;
    right: 40px;
    width: 6vw;
    height: 5vw;
    font-size: 5vw;    
}

.h button:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.letter{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.content{
    background-image: url(img/ltbg.png);
    background-size: cover;
    padding: 50px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 8px black;
    z-index: 9;
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-delay: 0s;
}

.content button{
    padding: 10px 20px;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
}
.content button:hover{
    background-color: crimson;
}

@keyframes myAnimation {
    from{position: relative; bottom: -150px; opacity: 20%;}
    to{position: relative; bottom: 0px; opacity: 120%;}
}

.content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
}

.content p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

.content p1a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
}

.content p1b{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    margin-right: 25%;
}

.btn button{
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    font-size: 2vw;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px grey;
    border: none;
    margin: 0;
    background-color: pink;
}

.btn button:hover{
    cursor:pointer;
    background-color: lightpink;
}

.image1{
    margin: 50px 20px;
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
}

.img1{
    width: 45vw;
    height: 30vw;
    margin: 0;
   
}

p2{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
    margin-bottom: 20%;
    margin-top: 13%;
    margin-left: 20px;
    margin-right: 5%;
    position: absolute;
}

.vid1{
    margin: 50px 20px;
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
    

}

.mp4{
    margin: 0;
    width: 30vw;
    height: 35vw;
}

p3{
    font-family: lucida handwriting, cursive;
    font-size: 2.7vw;
    margin: 0;
    margin-bottom: 70px;
    margin-top: 160px;
    margin-left: 90px;
    margin-right: 5%;
    position: absolute;
}

.image2{
    margin: 50px 20px;
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
   
}

.img2{
    width: 40vw;
    height: 30vw;
    margin: 0;
}

p4{
    font-family: lucida handwriting, cursive;
    font-size: 2.7vw;
    margin: 0;
    margin-bottom: 70px;
    margin-top: 70px;
    margin-left: 60px;
    margin-right: 5%;
    position: absolute;
}

.image3{
    margin: 50px 20px;
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
   
}

.img3{
    width: 40vw;
    height: 30vw;
    margin: 0;
}

p5{
    font-family: lucida handwriting, cursive;
    font-size: 2.7vw;
    margin: 0;
    margin-bottom: 70px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 5%;
    position: absolute;
}

.image4{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
   
}

.img4{
    width: 25vw;
    height: 26vw;
    margin: 0;
    margin-left: 60px;
}

.img4a{
    width: 25vw;
    height: 26vw;
    margin: 0;
}

.img4b{
    width: 25vw;
    height: 26vw;
    margin: 0;
}

p6{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
    margin-left: 10%;
    text-align: center;
}

.image5{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
 
}

.img5{
    width: 30vw;
    height: 23vw;
    margin: 0;
}

p7{
    font-family: lucida handwriting, cursive;
    font-size: 2.7vw;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 90px;
    margin-left: 50px;
    margin-right: 5%;
    position: absolute;
}

.image6{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
  
}

.img6a{
    width: 30vw;
    height: 23vw;
    margin: 0;
}

.img6{
    width: 30vw;
    height: 23vw;
    margin: 0;
    margin-left: 18%;
}

p8{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
    margin-left: 30%;
    text-align: center;
}

.image7{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
  
}

.img7{
    width: 23vw;
    height: 30vw;
    margin: 0;
    margin-top: 2%;
    margin-left: 25%;
}

.img7a{
    width: 23vw;
    height: 30vw;
    margin: 0;
}

p9{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.image8{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
    
}

.img8{
    width: 28vw;
    height: 25vw;
    margin: 0;
    margin-top: 2%;
    margin-left: 20%;
}

.img8a{
    width: 28vw;
    height: 25vw;
    margin: 0;
}

p10{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    justify-content: center;
    text-align: center;
    position: inherit;
    margin: 0;
    margin-left: 5%;
}

.image9{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
   
}

.img9{
    width: 23vw;
    height: 30vw;
    margin: 0;
}

p11{
    font-family: lucida handwriting, cursive;
    font-size: 2.7vw;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 130px;
    margin-left: 50px;
    margin-right: 5%;
    position: absolute;
}

.image10{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
  
}

.img10{
    width: 30vw;
    height: 23vw;
    margin: 0;
    margin-top: 2%;
    margin-left: 18%;
}

.img10a{
    width: 30vw;
    height: 23vw;
    margin: 0;
    margin-right: 8%;
}

p12{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
    margin-left: 2%;
}

.image11{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
    
}

.img11{
    width: 30vw;
    height: 23vw;
    margin: 0;
    margin-top: 2%;
    margin-left: 18%;
}

.img11a{
    width: 30vw;
    height: 23vw;
    margin: 0;
    margin-right: 8%;
}

p13{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
    margin-left: 2%;
}

.image12{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
    
}

.img12{
    width: 30vw;
    height: 23vw;
    margin: 0;
}

p14{
    font-family: lucida handwriting, cursive;
    font-size: 2.7vw;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 5%;
    position: absolute;
}

.image13{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;

}

.img13{
    width: 21vw;
    height: 18vw;
    margin: 0;
    margin-top: 2%;
    margin-left: 3%;
}

.img13a{
    width: 21vw;
    height: 18vw;
    margin: 0;
    margin-right: 0%;
}

.img13b{
    width: 21vw;
    height: 18vw;
    margin: 0;
    margin-left:0%;
}

.img13c{
    width: 21vw;
    height: 18vw;
    margin: 0;
    margin-right: 0;
}

p15{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
    margin-left: 8%;
}

.vid2{
    margin: 50px 20px;
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
    
}

.v2{
    margin: 0;
    margin-left: 13%;
    width: 65vw;
    height: 60vh;
}

p15a{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
    margin-left: 20%;
}

.image14{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
    
}

.img14{
    width: 21vw;
    height: 18vw;
    margin: 0;
    margin-left: 3%;
}

.img14a{
    width: 21vw;
    height: 18vw;
    margin: 0;
    margin-right: 0%;
}

.img14b{
    width: 21vw;
    height: 18vw;
    margin: 0;
    margin-left: 0%;
}

.img14c{
   width: 21vw;
    height: 18vw;
    margin: 0;
    margin-right: 0%;
}

p16{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
    margin-left: 8%;
}

.image15{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
   
}

.img15{
    width: 25vw;
    height: 20vw;
    margin: 0;
    margin-left: 8%;
}

.img15a{
    width: 25vw;
    height: 20vw;
    margin: 0;
}

.img15b{
    width: 25vw;
    height: 20vw;
    margin: 0;
}

p17{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
    margin-left: 40%;
}

.image16{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
    
}

.img16{
    width: 23vw;
    height: 30vw;
    margin: 0;
    margin-left: 10%;
}

p18{
    font-family: lucida handwriting, cursive;
    font-size: 2.7vw;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 175px;
    margin-left: 100px;
    margin-right: 5%;
    position: absolute;
}

.image17{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
   
}

.img17{
    width: 25vw;
    height: 30vw;
    margin: 0;
    margin-left: 10%;
}

p19{
    font-family: lucida handwriting, cursive;
    font-size: 2.7vw;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 175px;
    margin-left: 130px;
    margin-right: 5%;
    position: absolute;
}

.image18{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
    
}

.img18{
    width: 30vw;
    height: 23vw;
    margin: 0;
    margin-top: 2%;
    margin-left: 15%;
}

.img18a{
    width: 30vw;
    height: 23vw;
    margin: 0;
    margin-right: 8%;
}

p20{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
    margin-left: 2%;
}

.vid3{
    margin: 50px 20px;
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
   

}

.v3{
    margin: 0;
    width: 30vw;
    height: 35vw;
    margin-left: 5%;
}

p21{
    font-family: lucida handwriting, cursive;
    font-size: 2.7vw;
    margin: 0;
    margin-bottom: 70px;
    margin-top: 160px;
    margin-left: 90px;
    margin-right: 5%;
    position: absolute;
}

.image19{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;

}

.img19{
    width: 25vw;
    height: 20vw;
    margin: 0;
    margin-left: 8%;
}

.img19a{
    width: 25vw;
    height: 20vw;
    margin: 0;
}

.img19b{
    width: 25vw;
    height: 20vw;
    margin: 0;
}

p22{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
}

.image20{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;

}

.img20{
    width: 25vw;
    height: 30vw;
    margin: 0;
    margin-left: 10%;
}

p23{
    font-family: lucida handwriting, cursive;
    font-size: 2.7vw;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 175px;
    margin-left: 130px;
    margin-right: 5%;
    position: absolute;
}

.image21{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
   
}

.image21a{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
   
}

.img21{
    width: 30vw;
    height: 23vw;
    margin: 0;
    margin-left: 18%;
}

.img21a{
    width: 30vw;
    height: 23vw;
    margin: 0;
    margin-right: 8%;
}

.img21b{
    width: 30vw;
    height: 23vw;
    margin: 0;
    margin-left: 18%;
    margin-bottom: 5%;
}

.img21c{
    width: 23vw;
    height: 30vw;
    margin: 0;
    margin-right: 20%;
}

p24{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
}

p24a{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
}

.image22{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
   
}

.img22{
    width: 30vw;
    height: 28vw;
    margin: 0;
    margin-left: 8%;
}

.img22a{
    width: 23vw;
    height: 28vw;
    margin: 0;
}

.img22b{
    width: 23vw;
    height: 28vw;
    margin: 0;
}

p25{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
    margin-left: 5%;
    text-align: center;
}

.image23{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
   
}

.img23{
    width: 29vw;
    height: 20vw;
    margin: 0;
    margin-left: 35%;
    margin-right: 25%;
}

p26{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
    margin-left: 25%;
    text-align: center;
}

.image24{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
   
}

.img24{
    width: 29vw;
    height: 20vw;
    margin: 0;
    margin-left: 35%;
    margin-right: 25%;
}

p27{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
    margin-left: 13%;
    text-align: center;
}

.image25{
    margin: 50px 20px;
    padding: 20px 25px;
    padding-bottom: 60px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    background-color: aliceblue;
  
}

.img25{
    width: 30vw;
    height: 23vw;
    margin: 0;
    margin-top: 2%;
    margin-left: 15%;
}

.img25a{
    width: 30vw;
    height: 23vw;
    margin: 0;
    margin-right: 8%;
}

p28{
    font-family: lucida handwriting, cursive;
    font-size: 2.3vw;
    margin: 0;
    margin-left: 25%;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin: 0;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 15%;
    text-align: center;
    padding: 10vw 10vw;
    border-radius: 15px;
    box-shadow: 10px 10px 8px gray;
    background-color: aliceblue;
    animation-name: myAnimation;
    animation-timeline: view();
    animation-duration: 2s;
    animation-delay: 0s;
}

